TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_NUMBER=
PERSONAL_NUMBER=
SUPABASE_URL=postgres://postgres.eydqbljrgqamlgilkekw:[YOUR-PASSWORD]@aws-0-us-east-1.pooler.supabase.com:5432/postgres
SUPABASE_KEY=
NGROK_AUTH_TOKEN=
PORT=3000
PROD_URL=https://findmeadoc.ca/